body {
	background-color: #d7d5cd;
}

.title {
	font-weight: bold;
	background-color: #a0998d;
	color: #FFF;
    padding: 8px;
}

.countryList {
    padding: 10px;
}

#countryTable {
    background-color: #a0998d;
}

.content {
	padding: 10px;
}

.context {
	width: 15%;
	float: left;
}

.flag-icon {
	float: right;
}

  #myLocation .content .data,
  #weatherInfo .content .data {
  	float: right;
  }

  #myLocation, #weatherInfo {
  	    padding: 10px;
  }

.hoverable:hover {
	color: #FFF;
	background-color: #adaba4;
	border: 1px solid black;
	cursor: pointer;
}

@media only screen and (max-width: 888px) {
	#weatherInfo, #myLocation {
		width: 73%;
	}
  #weatherInfo .content {
  	height: 92px;
  	width: 370px;
  }
  #weatherInfo {
    height: 200px;
   }

  #myLocation .content {
  	height: 130px;
  	width: 370px;
  }
  #myLocation {
    height: 250px;
  }

  .countryList {
	overflow-x:scroll;
	}
}

@media only screen and (min-width: 888px) {
	#frame {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-gap: 1px 1px;
		grid-template-areas: "myLocation weatherInfo" "countryList countryList";
		max-height: 10px;
	}

	#myLocation {
		grid-area: myLocation;
	}

	#weatherInfo {
		grid-area: weatherInfo;
	}

	#countryList {
		grid-area: countryList;
	}

}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
 }

 /* The Modal (background) */
 #modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
   }
 }

 /* Modal Content/Box */
 .modal-content {
   background-color: #fefefe;
   margin: 15% auto; /* 15% from the top and centered */
   padding: 20px;
   border: 1px solid #888;
   width: 80%; /* Could be more or less, depending on screen size */
 }

 /* The Close Button */
 .close {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
 }

 .close:hover,
 .close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
 }